{% extends "orders/base.html" %}
{% block title %}
 Checkout {% endblock %}
 {% block body %}
 <div style="font-weight: bolder;text-align: center;"><h1 class="display-4">Checkout</h1></div>
  
 <div style="text-align: center;padding-top: 1cm;">  
      {% for items in cart %}
            <li>
             {{ items.name }}  {{ items.topping }} -    ${{ items.price}}                      
            </li>      
      {% endfor %}     
  </div>  
  <div style="text-align: center;">Total={{ total }}  </div>
  <div style="text-align: center;"><a href="/success" ><button>Order Now</button></a></div>
  <div style="text-align: center; padding-top: 2cm;"><a href="/" ><button>Go back</button></a></div>
  

  
  {% endblock %}
  