{% extends "orders/base.html" %}
{% block title %}
MENU {% endblock %}
{% block body %}
<div style="font-weight: bolder;text-align: center;"><h1 class="display-1">Menu</h1></div>
<div style="text-align: right;"><a href="/checkout">Checkout</a></div>
<div style="font-size: larger;font-weight: bold;">Available Combos</div>
<div class="container">
    <div class="row">
      <div class="col-sm" >
        <div><div style="font-size: large;font-weight: bolder;">Small ones</div>
        {% for pizzas in small %}
            <li>
              <form method='POST' action="/">
                {% csrf_token %}
                {{ pizzas }}- ${{ pizzas.price }} 
                <input type="hidden" name="pizza_id" value="{{pizzas.pk}}">
                <input type="hidden" name="db_name" value="Small">
                <button type="submit">Add to cart</button>
              </form>
            </li>
         {% empty %}
        {% endfor %}
      </div>       
      </div>
      <div class="col-sm">
        <div ><div style="font-size: large;font-weight: bolder;">Large ones</div>
          {% for pizzas in large %}
           <li> <form method='POST' action="/">
            {% csrf_token %}
            {{ pizzas }}- ${{ pizzas.price }} 
            <input type="hidden" name="pizza_id" value="{{pizzas.pk}}">
            <input type="hidden" name="db_name" value="Large">
            <button type="submit">Add to cart</button>
          </form></li>
         {% empty %}
         {% endfor %}
      </div>      
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div style="text-align: center;"><div style="font-weight: bolder;font-size: larger;">Toppings</div>
             {% for top in topping %}
               <li>{{ top }}</li>
              {% empty %}
              {% endfor %}         
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <div>
              <div style="font-weight: bolder;font-size: larger;">Subs-Small ones</div>
              {% for subs in subs_s %}
                 <li>
                  <form method='POST' action="/">
                    {% csrf_token %}
                    {{ subs }}- ${{ subs.price }} 
                    <input type="hidden" name="pizza_id" value="{{subs.pk}}">
                    <input type="hidden" name="db_name" value="Subs_small">
                    <button type="submit">Add to cart</button>
                  </form></a>
                 </li>
              {% endfor  %}  

          </div>
        </div>
      <div class="col-sm">
          <div>
            <div style="font-weight: bolder;font-size: larger;">Subs-Large ones</div>
            {% for subs in subs_l %}
               <li>
                <form method='POST' action="/">
                  {% csrf_token %}
                  {{ subs }}- ${{ subs.price }} 
                  <input type="hidden" name="pizza_id" value="{{subs.pk}}">
                  <input type="hidden" name="db_name" value="Subs_large">
                  <button type="submit">Add to cart</button>
                </form>
               </li>
            {% endfor %}   
          </div>
      </div>
      
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
            <div style="font-weight: bolder;font-size: larger;">Pasta</div>
            {% for pasta in pasta %}
               <li>
                <form method='POST' action="/">
                  {% csrf_token %}
                  {{ pasta }}- ${{ pasta.price }} 
                  <input type="hidden" name="pizza_id" value="{{pasta.pk}}">
                  <input type="hidden" name="db_name" value="Pasta">
                  <button type="submit">Add to cart</button>
                </form>
               </li>
            {% endfor %}   
        </div>
      </div>
      <div class="col-sm">
        <div>
            <div style="font-weight: bolder;font-size: larger;">Salads</div>
            {% for salad in salads %}
               <li>
                <form method='POST' action="/">
                  {% csrf_token %}
                  {{ salad }}- ${{ salad.price }} 
                  <input type="hidden" name="pizza_id" value="{{salad.pk}}">
                  <input type="hidden" name="db_name" value="Salads">
                  <button type="submit">Add to cart</button>
                </form>
               </li>
            {% endfor %}   
        </div>
      </div>
      <div class="col-sm">
        
        <div>
            <div style="font-weight: bolder;font-size: larger;">Dinner</div>
            {% for dinner in dinner %}
               <li>
                <form method='POST' action="/">
                  {% csrf_token %}
                  {{ dinner }}- ${{ dinner.price }} 
                  <input type="hidden" name="pizza_id" value="{{dinner.pk}}">
                  <input type="hidden" name="db_name" value="Dinner">
                  <button type="submit">Add to cart</button>
                </form>
               </li>
            {% endfor %}   
        </div>
      </div>
    </div>
  </div>
  <div style="font-weight: bolder;text-align: center;"><h1 class="display-4">Thank You for Shoping</h1></div>
  {% endblock %}











